{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Weather Application</title>

<!-- BootStrap CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
<!-- BootStrap Daterange Picker CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/daterangepicker.css" %}>
<!-- Select2 Box CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/select2.min.css" %}>
<!-- Custom CSS -->
<link type="text/css" href={% static "css/sb-admin.css" %} rel="stylesheet">
<!-- HighCharts css -->
<link type="text/css" href={% static "css/highcharts.css" %} rel="stylesheet">
<!-- Custom Fonts -->
<link href={% static "font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">